port=3000,
env="development",
NODE_ENV="development"
mongoURI="mongodb://localhost:27017/members_management"
MONGO_URI="mongodb://localhost:27017/members_management"

AMQP_URL='amqp://guest:guest@localhost'
mqServerUrl='amqp://guest:guest@localhost'
